.benefits{
    margin: 63px 0 272px 0;
    position: relative;
}
h3{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
    margin: 0 0 16px 0;
}
.benefits__subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    color: #434343;
    max-width: 348px;
    margin: 0 auto;
}
.benefits__row{
    position:absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    top: 147px;
}
.benefits-item,
.benefits-item-second,
.benefits-item-third{
    min-width: 420px;
    text-align: center;
    padding: 54px 0 42px 0;
    &:hover{
        transition: all ease 0.8s;
        transform:translate(0 , 20px);
    }
}
.benefits-item{
    background: url('../imgs/house_benefits.jpg');
}
.benefits-item-second{
    background: url('../imgs/hall_benefits.jpg');
}
.benefits-item-third{
    background: url('../imgs/town_benefits.jpg');
}
.benefuts__title{
margin: 34px 0 16px 0;
font-weight: 700;
font-size: 20px;
line-height: 170%;
color: #FFF;
font-family: 'Poppins';
}
.benefuts__text{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 170%;
text-align: center;
color: #FFFFFF;
max-width: 348px;
margin: 0 auto;
}
@media (min-width:320px) and (max-width:425px) {
    h3{
        text-decoration: underline;
    }
    .benefits__row{
       gap: 7px;

    }
    .benefits-item,
    .benefits-item-second,
    .benefits-item-third{
        min-width: 310px;
        margin: 0 auto;
        border: 5px solid  rgb(14, 152, 231);
        &:hover{
            transition:none;
            transform:none;
        }
    }
}
@media (min-width:426px) and (max-width:869px){
    h3{
        font-size: 30px;
        text-decoration: underline;
    }
    .benefits__subtitle{
        font-size:18px
    }
    .benefits__row{
        gap: 10px;
 
     }
     .benefits-item,
     .benefits-item-second,
     .benefits-item-third{
         min-width: 350px;
         margin: 0 auto;
         border: 5px solid rgb(14, 152, 231);
         &:hover{
             transition:none;
             transform:none;
         }
     }
}
@media (min-width:870px) and (max-width:1024px){
    h3{
        font-size: 30px;
        text-decoration: underline;
    }
    .benefits__subtitle{
        font-size: 18px;
    }
    .benefits__row{
        gap: 10px;
 
     }
     .benefits-item,
     .benefits-item-second,
     .benefits-item-third{
         min-width: 420px;
         margin: 0 auto;
         border: 5px solid rgb(14, 152, 231);
         &:hover{
             transition:none;
             transform:none;
         }
     }
}
@media (min-width:1025px) and (max-width:1299px){
    h3{
        font-size: 30px;
        text-decoration: underline;
    }
    .benefits__subtitle{
        font-size: 18px;
    }
    .benefits__row{
        gap: 10px;
    }
     .benefits-item,
     .benefits-item-second,
     .benefits-item-third{
         min-width: 420px;
         margin: 0 auto;
         border: 5px solid rgb(255, 255, 255);
         &:hover{
             transition:none;
             transform:none;
         }
    }
}