.benefits{
    padding: 100px 0 346px 0;
    position: relative;
}
h3{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
    margin: 0 0 16px 0;
}
.benefits__subtitle{
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: center;
color: #434343;
}
.benefits__row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: absolute;
    top: 300px;
    left: 10px;
    
}
.benefits-item,
.benefits-item2,
.benefits-item3{
    flex: 1 0 calc((100% - 40px) / 3);
    text-align: center;
    max-width: 425px;
}
.benefits-item{
    background: url('../imgs/house_benefits.jpg');
}

.benefits-item2{
    background: url('../imgs/hall_benefits.jpg');
}
.benefits-item3{
    background: url('../imgs/town_benefits.jpg');
}
.benefuts__img{
    margin: 54px 0 0 0;
}
.benefuts__title{
margin: 34px 0 16px 0;
font-weight: 700;
font-size: 20px;
line-height: 170%;
color: #FFF;
font-family: 'Poppins';
}
.benefuts__text{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 170%;
text-align: center;
color: #FFFFFF;
margin: 0 0 42px 0;
}