.header{
   background:url('../imgs/main.png') 0 0/ cover no-repeat;
   background-size:cover;
   min-height: 744px;
   
}
.header__container{
    max-width: 1300px;
    margin: 0 auto;
}
.header__top{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0;
}
.header__logo{
font-family: 'Roboto';
font-weight: 700;
font-size: 66px;
line-height: 77px;
color: #FFFFFF;
padding: 2px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
    margin: 27px 0 0 0;
    a{
        text-decoration: none;
        color: #fff;
    }
    li{
        margin: 0 20px;
    }
    a:hover{
        color:#0d64c7;
        text-decoration: underline ;
    }
}
.header__text{
    margin: 83px 0 16px 20px;
    max-width: 740px;
    position: relative;
}
.header__title{
font-family: 'Poppins';
font-weight: 700;
font-size: 52px;
line-height: 78px;
color:#fff;
}
.header__subtitle{
    max-width: 445px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #fff;
    margin: 16px 0 32px 0;
}
.header__btn{
    padding: 15px 25px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color: #fff;
    border: none;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
    &:active{
        position: relative;
        top: 2px;
        transform:scale(0.95);
    }
}
.header__img{
    display: flex;
    justify-content: right;
    margin: 0 -30px 0 0;
}
.header__img-first{
    margin: 0 -30px 0 0;
    &:hover{
        transform: scale(1.1);
        transition: all ease 0.4s;
    }
}
.header__img-sec:hover{
    transform: scale(1.1);
    transition: all ease 0.4s;
}
@media (min-width:320px) and (max-width:425px){
   .header__list{
    display: block;
    li{
        margin: 0 25px 15px 0;
    }
   }
   .header__title{
       font-size: 37px;
       text-align: left;
       line-height: 45px;
       margin: 0 0 20px 0;
   }  
   .header__img-first{
       display: none;
   }
   .header__img-sec{
       max-width: 300px;
       display: flex;
       margin: 0 auto;
       padding: 0 25px 0 0;
   }
}