h2{
font-family: 'Poppins';
font-weight: 700;
font-size: 24px;
line-height: 170%;
color: #056088;
text-align: center;
margin: 0 0 16px 0;
}
.services__subtitle{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: center;
color: #434343;
max-width: 348px;
margin:0 auto;
}
.services__row{
display: flex;
flex-wrap: wrap;
gap: 20px;
margin: 32px 0 0 0;
}
.services-item{
    padding: 27px 27px 40px 40px;
    flex: 1 0 18%;
    &:hover{
    background:url('../imgs/item_build.png') no-repeat;
    color: #fff;
    }    
}
.services-item:first-child{
background:url('../imgs/item_build.png') no-repeat;
color:#fff;
}
.services__title{
margin: 23px 0 16px 0;
font-family: 'Poppins';
font-weight: 700;
font-size: 20px;
line-height: 170%;

}
.services__discription{
font-family: 'Poppins';
font-weight: 400;
font-size: 16px;
line-height: 170%;
max-width: 237px;
}
@media (min-width:320px) and (max-width:425px){
    h2{
        text-decoration: underline;
    }
    .services__row{
     flex-direction: column;
     display: flex;
    }
    .services-item{
        margin: 0 auto;
    }
}
@media (min-width:426px) and (max-width:768px){
    .services__row{
     display: flex;
    flex-direction: column;
    
    }
    .services-item{
        max-width: 310px;
        margin: 0 auto;
    }
    h2{
        font-size: 30px;
        text-decoration: underline;
    }
    .services__subtitle{
        font-size: 18px;
    }
}
@media (min-width:769px) and (max-width:822px){
    h2{
        font-size: 30px;
        text-decoration: underline;
    }
    .services__subtitle{
        font-size: 18px;
    }
    .services__row{
     display: flex;
     flex-direction: column;
    }
    .services-item{
        max-width: 310px;
        margin: 0 auto;
    }
}
@media (min-width:823px) and (max-width:1299px){
    h2{
        font-size: 30px;
        text-decoration: underline;
    }
    .services__subtitle{
        font-size: 18px;
    }
    .services__row{
     display: flex;
     flex-wrap: wrap;
    }
    .services-item{
        max-width: 310px;
        margin: 0 auto;
    }
}