.works{
    font-family: 'Poppins';
    background:url('../imgs/works.png');
    background-size: cover;
}
.works__title{
    text-align: center;
    margin: 173px 0  0;
}
h4{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    margin: 173px 0 16px 0;
    color: #fff;
}
.works__subtitle{
text-align: center;
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: center;
color: #FFFFFF;
max-width: 348px;
margin: 0 auto;
}
.works__grid{
margin: 32px 0;
 display:flex;
 flex-wrap: wrap;
 gap: 20px;
}
.works__left{
gap: 20px;
display: grid;
grid-template-columns: auto;
}
.works__middle{
gap: 20px;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: 277px 163px;
}
.works__kitchen{
    grid-column: 2 / 3;
}
.works__right{
    gap: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 118px 118px 184px;
}
.works__table{
    grid-column:2/ 3 ;
}
.works__flowers{
    grid-column: 1 / 3 ; 
}
.works__line{
    text-align: right;
    margin: 0 0 100px 0;
}
.works__btn{
    margin: 0 0 0 39px;
    padding:15px 25px;
    border:none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color:#fff;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
}
.works__opinion{
    display: flex;
    flex-wrap: wrap;
}
.works__block{
    padding: 51px 32px;
    background: #fff;
    max-width: 330px;
}
.works__queston{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    line-height: 170%;
    color: #056088;
}
.works__discription{
    max-width: 195px;
    margin: 16px 0 32px 0;
}
.works__button{
    padding:15px 25px;
    border:none;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 170%;
    color:#fff;
    background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
}
.works__image{
    position: relative;
}
.works__slide{
    padding: 59px 24px 29px 50px;
    max-width: 416px;
    position: absolute;
    background: url('../imgs/slide.png');
    background-size: cover;
    right: 0;
    top: 215px;
}
.works__text{
font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 170%;
color: #FFFFFF;
margin: 0 0 16px 0;
max-width:342px;
}
.works__name{
font-family: 'Poppins';
font-style: italic;
font-weight: 600;
font-size: 16px;
line-height: 170%;
color: #FFFFFF;
}
.works__logo{
border-radius: 50%;
position: absolute;
top: -41px;
 left: -40px;
}