.benefits
    h3 Our benefits
    .benefits__subtitle Here our benefits if you collaboration with our team
    .benefits__row
        .benefits-item
            img(src="./assets/imgs/around.png", alt="").benefuts__img
            .benefuts__title Flexible time
            .benefuts__text We work wherever you ready to builds. Work fast and profesional
        .benefits-item2
            img(src="./assets/imgs/around.png", alt="").benefuts__img
            .benefuts__title Customizable designe
            .benefuts__text We work wherever you ready to builds. Work fast and profesional
        .benefits-item3
            img(src="./assets/imgs/around.png", alt="").benefuts__img
            .benefuts__title Negotiable price
            .benefuts__text We work wherever you ready to builds. Work fast and profesional