.company
    .company__gallery  
        .company__left
            img(src="./assets/imgs/house.jpg", alt="")
            img(src="./assets/imgs/build.jpg", alt="")
        .company__right
            img(src="./assets/imgs/hand.jpg", alt="")
            img(src="./assets/imgs/dom.jpg", alt="")
    .company__our   
        .company__title Our company
        .company__text Debuilds is a team of architects, interior design, and contractors who help our clients not only to build their dream building, but also to feel comfortable after the building is used.
        .company__subtitle We already handled
        .company__row   
            .company__statistic 50+ Clients
            .company__statistic 30+ House
            .company__statistic 20+ Building
        button.company__btn See more