.company
    .company__grid  
        img(src="./assets/imgs/house.jpg", alt="").item1
        img(src="./assets/imgs/build.jpg", alt="").item3
        img(src="./assets/imgs/hand.jpg", alt="").item2
        img(src="./assets/imgs/dom.jpg", alt="").item4
    .company__our   
        .company__title Our company
        .company__text Debuilds is a team of architects, interior design, and contractors who help our clients not only to build their dream building, but also to feel comfortable after the building is used.
        c We already handled
        .company__row   
            .company__statistic 50+ Clients
            .company__statistic 30+ House
            .company__statistic 20+ Building
        button.company__btn See more    