.footer     
    .footer__container   
        .footer__row
            .footer__get    
                p.footer__logo DB-
                p.footer__text  Lizenzo street number 12 Jakarta, Indonesia
                button.footer__btn Get directions
            .footer__item
                ul.footer__list
                    li
                        a(href="#") Menu
                    li
                        a(href="#") Home
                    li 
                        a(href="#") About
                    li 
                        a(href="#") Gallery
                    li
                        a(href="#") Service
            .footer__item
                ul.footer__list
                    li
                        a(href="#") Contact
                    li
                        a(href="#") E-mail
                    li 
                        a(href="#") Mobile
                    li 
                        a(href="#") Mobile
                    li
                        a(href="#") Fax
            .footer__item
                ul.footer__list
                    li
                        a(href="#") Career
                    li
                        a(href="#") Job
                    li 
                        a(href="#") Part-time
                    li 
                        a(href="#") Internship
                    li
                        a(href="#") Service
            .footer__item
                ul.footer__list
                    li
                        a(href="#") Business
                    li
                        a(href="#") Affiliate
                    li 
                        a(href="#") Collaboration
                    li 
                        a(href="#") Investment
                    li
                        a(href="#") People