header.header   
    .header__container
        .header__top    
            .header__logo DB-
            ul.header__list     
                li 
                    a(href="") Home
                li 
                    a(href="") About
                li 
                    a(href="") Services
                li 
                    a(href="") Gallery
                li 
                    a(href="") Contact
                li 
                    a(href="") News
        .header__text
            .header__title We build your dream house well and professionally
            .header__subtitle Our team can build a house according to your wishes. Any design and concept, we will help make it happen
            button.header__btn Contact us
        .header__img   
            img(src="./assets/imgs/main_logo.png", alt="").header__img-first
            img(src="./assets/imgs/sec_logo.png", alt="").header__img-sec