.partners
    .partners__header
        h5 Our Partners
        ul.partners__list
            li 
                a(href="#")
                    img(src="./assets/img/construct.png" alt="")
            li
                a(href="#")
                    img(src="./assets/img/arch.png" alt="")
            li
                a(href="#")
                    img(src="./assets/img/whix.png" alt="")
            li
                a(href="#")
                    img(src="./assets/img/dzikra.png" alt="")