.partners   
    .partners__container.container
        .partners__header
            h5 Our Partners 
            ul.partners__list
                li
                    img(src="./assets/imgs/construct.png", alt="")
                li 
                   img(src="./assets/imgs/arch.png", alt="")
                li
                   img(src="./assets/imgs/whix.png", alt="") 
                li
                   img(src="./assets/imgs/dzikra.png", alt="")
        .partners__img
            img(src="./assets/imgs/excavator.png", alt="")
            img(src="./assets/imgs/play.png", alt="").partners__logo
            .partners__text This is the timelapse video that shows how our teams work