.partners   
    .partners__container.container
        .partners__header
            h5 Our Partners 
            ul.partners__list
                li
                    img(src="./assets/imgs/construct.png", alt="")
                li 
                   img(src="./assets/imgs/arch.png", alt="")
                li
                   img(src="./assets/imgs/whix.png", alt="") 
                li
                   img(src="./assets/imgs/dzikra.png", alt="")
        .partners__build
            .partners__video
                <iframe width="1080" height="512" src="https://www.youtube.com/embed/Fks2hEWWDiQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                .partners__text This is the timelapse video that shows how our teams work