include ../mixins/services-item.pug
.services
    h2 Our services
    .services__subtitle Our services include building new buildings and renovating old buildings
    .services__row
        +services-item('./assets/imgs/pencil.png','Design building/house','We have an architect for design new buildings')
        +services-item('./assets/imgs/sofa.png','Interior Design','We have an interior designer for design your perfect inside house')
        +services-item('./assets/imgs/skyskr.png','Build from scratch','We have an contractor for build new building from scratch')
        +services-item('./assets/imgs/construction.png','Renovation','We can also renovate or rebuilds new buildings/house')