.works
    .works__container.container
        h4 Our works
        .works__text Here our some of the best the result when <br> we build some buildings, houses, and also <br> interior designs
        .works__grid 
            .works-item1
                img(src="./assets/imgs/houde_grid.png", alt="")
            .works-item2
                img(src="./assets/imgs/tower_grid.png", alt="")
            .works-item3
                img(src="./assets/imgs/swimming_grid.png", alt="")
            .works-item4
                img(src="./assets/imgs/hall_grid.png", alt="")
            .works-item5
                img(src="./assets/imgs/kitchen_grid.png", alt="")
            .works-item6
                img(src="./assets/imgs/door_grid.png", alt="")
            .works-item7
                img(src="./assets/imgs/flowers_grid.png", alt="")
            .works-item8
                img(src="./assets/imgs/window_grid.png", alt="")
            .works-item9
                img(src="./assets/imgs/table_grid.png", alt="")