.works
    .works__container.container
        h4 Our works
        .works__subtitle Here our some of the best the result when we build some buildings, houses, and also interior designs
        .works__grid
            .works__left
                img(src="./assets/imgs/house_grid.png", alt="").works__house
                img(src="./assets/imgs/door_grid.png", alt="").works__door
            .works__middle
                img(src="./assets/imgs/tower_grid.png", alt="").works__tower
                img(src="./assets/imgs/swimming_grid.png", alt="").works__swimming
                img(src="./assets/imgs/kitchen_grid.png", alt="").works__kitchen
            .works__right
                img(src="./assets/imgs/hall_grid.png", alt="").works__hall
                img(src="./assets/imgs/window_grid.png", alt="").works__window
                img(src="./assets/imgs/table_grid.png", alt="").works__table
                img(src="./assets/imgs/flowers_grid.png", alt="").works__flowers
        .works__line 
            img(src="./assets/imgs/line.png", alt="").works__img
            button.works__btn See more
        .works__opinion
            .works__block     
                .works__queston What our clients say?
                .works__discription See what our clients say about their new home
                button.works__button See more
            .works__image
                img(src="./assets/imgs/penthouse.png", alt="")
                .works__slide
                    img(src="./assets/imgs/man.png", alt="").works__logo
                    .works__text I really happy to see the result my new home. It’s really good house and good price too. And they work so fast becasue they have the best team. Once again, thankyou. I really appreciate it.
                    .works__name  - Mr. Roberto